@font-face {
    font-family: "CinzelDecorative-Bold";
    src: url("../../assets/fonts/CinzelDecorative-Bold.woff") format("woff"),
         url("../../assets/fonts/CinzelDecorative-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "CinzelDecorative-Regular";
    src: url("../../assets/fonts/CinzelDecorative-Regular.woff") format("woff"),
         url("../../assets/fonts/CinzelDecorative-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../../assets/fonts/Montserrat-Regular.woff") format("woff"),
         url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url("../../assets/fonts/PlayfairDisplay-Bold.woff") format("woff"),
         url("../../assets/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url("../../assets/fonts/PlayfairDisplay-Regular.woff") format("woff"),
         url("../../assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}
