$primary-color: #936d58;
$base-color: #faf9f5;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*b::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $base-color;
}

.section-fs {
    position: relative;
    width: 100%;
    height: 100vh;
}

#video-container {
    width: 100%;

    video {
        width: inherit;
        height: auto;
    }
}

.center-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 500px;

    #logo {
        height: auto;
        width: 60%;
    }
}

#section_0 {
    height: auto;
}

#section_1 {
    background: url("../../assets/images/bg2-01.png") no-repeat;
    background-size: 100vw 100%;
    margin-top: -4px;
    color: $primary-color;
    font-size: 28px;
    min-height: 1000px;
}

#section_2 {
    background: url("../../assets/images/bg3-01.png") no-repeat;
    background-size: 100vw 100%;
    color: $primary-color;
    min-height: 1000px;
}

#section_3 {
    background: url("../../assets/images/bg4-01.png") no-repeat;
    background-size: 100vw 100%;
    min-height: 1000px;
}

#section_4 {
    background: url("../../assets/images/bg5-01.png") no-repeat;
    background-size: 100vw 100%;
    min-height: 1000px;
}

#section_5 {
    height: auto;
    color: #fff;
}

#section_6 {
    color: $primary-color;
    margin-top: 60px;
}

@media only screen and (max-width: 1366px) {
    #section_1 {
        background: url("../../assets/images/bg2-01.png") no-repeat 0% 50%;
        background-size: cover;
        margin-top: -4px;
    }

    #section_2 {
        background: url("../../assets/images/bg3-01.png") no-repeat 0% 50%;
        background-size: cover;
    }

    #section_3 {
        background: url("../../assets/images/bg4-01.png") no-repeat 0% 50%;
        background-size: cover;
    }

    #section_4 {
        background: url("../../assets/images/bg5-01.png") no-repeat 0% 50%;
        background-size: cover;
    }
}

#akad {
    position: absolute;
    color: $primary-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    p {
        margin: 0;
    }

    h2 {
        font-size: 65px;
    }

    .label {
        font-size: 32px;
    }

    .value {
        font-size: 40px;
        font-weight: bold;
    }

    #g-calendar-btn {
        width: 375px;
        padding: 5px;
        font-size: 24px;
        margin-top: 15px;
        border-color: transparent;
        border-radius: 4px;
        background-color: $primary-color;
        color: #fff;
        cursor: pointer;
    }
}

#countdown_title {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.countdown {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;

    &_value {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 15px;
    }

    .value {
        font-size: 52px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .value_label {
        font-size: 28px;
        margin: 0;
    }
}

#gmap {
    text-align: center;
    margin-bottom: 632px;
    font-size: 40px;
    color: $primary-color;
    font-weight: bold;
}

.gallery {
    padding: 0 20px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    img {
        min-width: 200px;
        min-height: 200px;
        max-width: 100%;
        max-height: 100%;
    }
    video {
        min-width: 200px;
        min-height: 200px;
        max-width: 100%;
        max-height: 100%;
    }
}

// Media query untuk res width 512px
